@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@keyframes loader {
  0% {
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%); }
  50% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); }
  100% {
    clip-path: polygon(0 0, 0 0, 0 100%, 0 100%); } }

html {
  font-size: 62.5%; }

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5; }

a {
  display: inline-block;
  text-decoration: none; }

.logo {
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #242424; }
  @media only screen and (min-width: 1024px) {
    .logo {
      font-size: 3.6rem;
      line-height: 3.6rem; } }

.heading--primary {
  color: #1a1a1a;
  font-size: 4rem;
  font-weight: 400;
  line-height: 5rem;
  margin-bottom: 2rem; }
  @media only screen and (min-width: 768px) {
    .heading--primary {
      font-size: 6rem;
      line-height: 8rem; } }
  @media only screen and (min-width: 1024px) {
    .heading--primary {
      font-size: 8rem;
      line-height: 8rem; } }

.heading--secondary {
  color: #242424;
  font-size: 3.5rem;
  line-height: 3.5rem;
  font-weight: 400; }
  @media only screen and (min-width: 768px) {
    .heading--secondary {
      font-size: 5rem;
      line-height: 5rem; } }
  @media only screen and (min-width: 1366px) {
    .heading--secondary {
      font-size: 7rem;
      line-height: 7rem; } }

.heading--tertiary {
  color: #242424;
  font-size: 3rem;
  line-height: 3rem;
  font-weight: 400; }
  @media only screen and (min-width: 768px) {
    .heading--tertiary {
      font-size: 4rem;
      line-height: 4rem; } }
  @media only screen and (min-width: 1366px) {
    .heading--tertiary {
      font-size: 5rem;
      line-height: 5rem; } }

.heading--quaternary {
  color: #242424;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 2.5rem; }
  @media only screen and (min-width: 768px) {
    .heading--quaternary {
      font-size: 3rem;
      line-height: 3rem; } }
  @media only screen and (min-width: 1366px) {
    .heading--quaternary {
      font-size: 4rem;
      line-height: 4rem; } }

.heading--quinary {
  color: rgba(0, 0, 0, 0.65);
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.4rem; }
  @media only screen and (min-width: 768px) {
    .heading--quinary {
      font-size: 2.5rem;
      line-height: 3rem; } }

.text {
  color: #1a1a1a;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.2rem; }
  .text--white {
    color: #fff; }

.text:not(:last-child) {
  margin-bottom: 3.5rem; }

.social-link {
  color: #242424;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.8rem;
  position: relative;
  z-index: 1; }
  @media only screen and (min-width: 768px) {
    .social-link {
      font-size: 2.4rem;
      line-height: 2.4rem; } }
  @media only screen and (min-width: 1366px) {
    .social-link {
      font-size: 4rem;
      line-height: 4rem; } }
  .social-link::after {
    content: '';
    position: absolute;
    left: 0%;
    bottom: 0%;
    z-index: -1;
    height: .6rem;
    width: 100%;
    background-color: #f2f2f2;
    transition: all .3s ease-in-out; }
  .social-link:hover::after {
    height: .3rem; }

.hero .text {
  width: 55%;
  font-weight: 400;
  line-height: 1.6; }
  @media only screen and (min-width: 1366px) {
    .hero .text {
      font-size: 1.5rem;
      line-height: 2.2rem;
      margin-top: 4rem;
      color: #595959; } }

.cta {
  color: #242424; }

.home-about .text {
  margin-bottom: 3rem; }

.footer {
  color: #fff;
  font-size: 1.5rem;
  line-height: 2.1;
  font-weight: 400; }

.author {
  color: #fff; }

.services__intro .text {
  width: 35%; }

@media only screen and (min-width: 1366px) {
  .about__content {
    width: 90%;
    margin: 0 0 0 auto; } }

@media only screen and (min-width: 1024px) {
  .about__content .text {
    width: 100%; } }

@media only screen and (min-width: 1366px) {
  .about__content .text {
    width: 90%; } }

@media only screen and (min-width: 1024px) {
  .work-approach li {
    font-size: 2rem;
    font-weight: 400;
    line-height: 2.7rem; } }

@media only screen and (min-width: 1366px) {
  .work-approach li {
    font-size: 2.8rem;
    line-height: 3.8rem; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html, body {
  height: 100%;
  width: 100%; }

.wrapper {
  width: 90%;
  margin: 0 auto;
  display: flex; }
  @media only screen and (min-width: 1680px) {
    .wrapper {
      width: 1600px; } }

.loader {
  position: fixed;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  z-index: 1000;
  height: 100%;
  width: 100%;
  background-color: #f2f2f2;
  clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
  animation: loader 1.5s ease-in-out; }

img {
  vertical-align: bottom; }

ol {
  list-style-type: decimal; }

main {
  min-height: 100vh;
  position: relative;
  z-index: 2; }

.cta {
  border: 0.2rem solid #242424;
  display: inline-block;
  padding: 1rem 8rem;
  transition: all .5s ease-in-out; }
  @media only screen and (min-width: 768px) {
    .cta {
      padding: 1.7rem 7rem; } }
  .cta:hover {
    background-color: #242424;
    color: #fff; }

.btn {
  color: #242424;
  background-color: transparent;
  border: 0.2rem solid #242424;
  border-radius: .3rem;
  cursor: pointer;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  margin: 3.5rem 0 1.5rem 0;
  padding: 1.6rem;
  transition: all .3s ease-in-out;
  width: 100%; }
  @media only screen and (min-width: 768px) {
    .btn {
      width: 25rem;
      margin: 0rem 3.5rem 0rem 0; } }
  .btn:hover {
    background-color: #242424;
    color: #fff; }

.header {
  position: fixed;
  top: 0;
  left: 0%;
  z-index: 5;
  width: 100%;
  padding: 1.5rem 0;
  transition: all .3s ease-in-out; }
  @media only screen and (min-width: 1024px) {
    .header {
      padding: 3.5rem 0; } }
  @media only screen and (min-width: 1024px) {
    .header--scrolled {
      padding: 0rem 0; } }
  @media only screen and (min-width: 1024px) {
    .header--scrolled .logo {
      transform: scale(0.65); } }
  .header .wrapper {
    justify-content: space-between;
    align-items: center;
    width: 95%; }
  .header .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eaeaea;
    height: 4rem;
    width: 4rem;
    transition: all .3s ease-in-out; }
    @media only screen and (min-width: 1024px) {
      .header .logo {
        height: 8rem;
        width: 8rem; } }
  .header .menu {
    cursor: pointer;
    width: 2rem; }
    @media only screen and (min-width: 1024px) {
      .header .menu {
        display: none; } }
    .header .menu__line {
      height: .2rem;
      width: 100%;
      background-color: #242424;
      border-radius: 5rem; }
      .header .menu__line:not(:last-child) {
        margin-bottom: .4rem; }

ul {
  list-style: none; }

ol li {
  margin-left: 3.5rem; }
  ol li:not(:last-child) {
    margin-bottom: 1.5rem; }

.navigation__overlay {
  position: fixed;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  background-color: rgba(36, 36, 36, 0.85); }
  .navigation__overlay--hidden {
    display: none; }

.nav {
  position: fixed;
  top: 0%;
  right: 0%;
  height: 100%;
  width: 70%;
  background-color: #242424;
  padding: 5rem 0 5rem 3.5rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  transition: all .5s ease-in-out; }
  @media only screen and (min-width: 768px) {
    .nav {
      width: 40%; } }
  @media only screen and (min-width: 1024px) {
    .nav {
      position: relative;
      height: auto;
      width: auto;
      padding: 0 0 0 0;
      align-items: center;
      flex-direction: row;
      background-color: transparent; } }
  .nav .close {
    position: absolute;
    top: 2rem;
    right: 2rem; }
    @media only screen and (min-width: 1024px) {
      .nav .close {
        display: none; } }
  @media only screen and (min-width: 1024px) {
    .nav .list--1 {
      display: flex;
      margin-right: 5rem; } }
  .nav .list--1 li:not(:last-child) {
    margin-bottom: 2.5rem; }
    @media only screen and (min-width: 1024px) {
      .nav .list--1 li:not(:last-child) {
        margin-bottom: 0rem;
        margin-right: 2.5rem; } }
  .nav .list--2 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; }
    .nav .list--2 li:not(:last-child) {
      margin-right: 1.5rem; }
  .nav a {
    display: inline-block;
    color: #fff;
    font-size: 2rem;
    font-weight: 300;
    line-height: 4rem;
    letter-spacing: .1rem; }
    @media only screen and (min-width: 1024px) {
      .nav a {
        color: #242424;
        font-size: 1.6rem;
        font-weight: 500; } }
    .nav a img {
      height: 3rem;
      width: auto;
      object-fit: cover; }
      .nav a img svg path {
        fill: #242424 !important; }
      @media only screen and (min-width: 1024px) {
        .nav a img {
          height: 2rem;
          margin: 0;
          padding: 0;
          display: inline-block; } }
  .nav--hidden {
    right: -70%; }
    @media only screen and (min-width: 1024px) {
      .nav--hidden {
        right: 0; } }
  .nav__link {
    position: relative;
    overflow: hidden; }
    .nav__link::before, .nav__link::after {
      content: '';
      position: absolute;
      bottom: 0;
      height: .2rem;
      width: 0%;
      background-color: #242424;
      transition: all .3s ease-in-out; }
    .nav__link::before {
      left: 50%; }
    .nav__link::after {
      right: 50%; }
    .nav__link:hover::before, .nav__link:hover::after {
      width: 50%; }
    .nav__link--active {
      position: relative;
      overflow: hidden; }
      .nav__link--active::before, .nav__link--active::after {
        content: '';
        position: absolute;
        bottom: 0%;
        height: .2rem;
        width: 50%;
        background-color: #242424;
        transition: all .3s ease-in-out; }
      .nav__link--active::before {
        left: 50%; }
      .nav__link--active::after {
        right: 50%; }

.grid {
  display: grid; }

.hero .grid {
  grid-template-columns: 1fr;
  height: 100%;
  background-color: #fff; }
  @media only screen and (min-width: 768px) {
    .hero .grid {
      grid-template-columns: repeat(2, 1fr); } }
  @media only screen and (min-width: 1024px) {
    .hero .grid {
      grid-template-columns: repeat(16, 1fr); } }
  @media only screen and (min-width: 1366px) {
    .hero .grid {
      padding-bottom: 5rem; } }
  .hero .grid__item--1 {
    display: none; }
    @media only screen and (min-width: 768px) {
      .hero .grid__item--1 {
        display: inline-block;
        grid-column: 1 / 2;
        grid-row: 1 / 2; } }
    @media only screen and (min-width: 1024px) {
      .hero .grid__item--1 {
        grid-column: 1 / 7;
        background-color: #fff;
        position: relative;
        z-index: 2; } }
    @media only screen and (min-width: 1366px) {
      .hero .grid__item--1 {
        grid-column: 1 / 5;
        background-color: #fff;
        position: relative;
        z-index: 2; } }
  .hero .grid__item--2 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    padding: 10rem 0 2.5rem 0;
    margin-left: 0 auto;
    position: relative;
    z-index: 2; }
    @media only screen and (min-width: 768px) {
      .hero .grid__item--2 {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        padding: 9.5rem 0 5rem 0; } }
    @media only screen and (min-width: 1024px) {
      .hero .grid__item--2 {
        grid-column: 2 / 10;
        grid-row: 1 / 2;
        background-color: transparent;
        padding: 20rem 0 10rem 0; } }
    @media only screen and (min-width: 1366px) {
      .hero .grid__item--2 {
        grid-column: 2 / 7; } }
    .hero .grid__item--2 .top,
    .hero .grid__item--2 .bottom {
      width: 90%;
      margin: 0 auto; }
      @media only screen and (min-width: 768px) {
        .hero .grid__item--2 .top,
        .hero .grid__item--2 .bottom {
          margin: 0 0 0 auto; } }
      @media only screen and (min-width: 1366px) {
        .hero .grid__item--2 .top,
        .hero .grid__item--2 .bottom {
          width: auto;
          margin: 0 0 0 0; } }
  .hero .grid__item--3 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    overflow: hidden;
    background-image: url(../../images/hero-bg.jpg);
    background-attachment: scroll;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; }
    @media only screen and (min-width: 768px) {
      .hero .grid__item--3 {
        grid-column: 2 / 4;
        grid-row: 1 / 2; } }
    @media only screen and (min-width: 1024px) {
      .hero .grid__item--3 {
        grid-column: 5 / -1;
        grid-row: 1 / 2; } }
    .hero .grid__item--3 img {
      height: 100%;
      width: 100%;
      object-fit: cover; }

.instagram .grid {
  width: 100%;
  grid-template-columns: repeat(1, 1fr);
  margin-top: 6rem; }
  @media only screen and (min-width: 768px) {
    .instagram .grid {
      grid-template-columns: repeat(2, 1fr);
      gap: 1.5rem; } }
  @media only screen and (min-width: 1024px) {
    .instagram .grid {
      grid-template-columns: repeat(4, 1fr); } }
  .instagram .grid__item {
    width: 100%;
    height: 0;
    padding-top: 100%; }
    .instagram .grid__item--1 {
      background-image: url(../../images/instagram-1.jpg);
      background-attachment: scroll;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      grid-column: 1 / -1; }
      @media only screen and (min-width: 768px) {
        .instagram .grid__item--1 {
          grid-column: 1 / 2; } }
    .instagram .grid__item--2, .instagram .grid__item--3, .instagram .grid__item--4 {
      display: none; }
      @media only screen and (min-width: 768px) {
        .instagram .grid__item--2, .instagram .grid__item--3, .instagram .grid__item--4 {
          display: inline-block; } }
    @media only screen and (min-width: 768px) {
      .instagram .grid__item--2 {
        background-image: url(../../images/instagram-2.jpg);
        background-attachment: scroll;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover; } }
    @media only screen and (min-width: 768px) {
      .instagram .grid__item--3 {
        background-image: url(../../images/instagram-3.jpg);
        background-attachment: scroll;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover; } }
    @media only screen and (min-width: 768px) {
      .instagram .grid__item--4 {
        background-image: url(../../images/apartment-in-nice.jpg);
        background-attachment: scroll;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover; } }

.portfolio .grid {
  grid-template-columns: 1fr;
  width: 100%;
  gap: 2.5rem;
  width: 95%;
  margin: 0 auto; }
  @media only screen and (min-width: 768px) {
    .portfolio .grid {
      grid-template-columns: repeat(2, 1fr); } }
  @media only screen and (min-width: 1366px) {
    .portfolio .grid {
      width: 95%;
      margin: 0 auto;
      max-width: 192rem; } }
  .portfolio .grid__item {
    width: 100%;
    height: 0;
    padding-top: 100%;
    position: relative;
    overflow: hidden; }
    .portfolio .grid__item::before {
      content: '';
      position: absolute;
      top: 0%;
      right: 0%;
      bottom: 0%;
      left: 0%;
      height: 100%;
      width: 100%;
      background-color: rgba(36, 36, 36, 0.35);
      transition: all .3s ease-in-out; }
    .portfolio .grid__item::after {
      position: absolute;
      bottom: 0;
      left: 0;
      color: #fff;
      font-size: 2.8rem;
      font-weight: 400;
      margin: 0 0 2.5rem 2.5rem; }
    .portfolio .grid__item:hover::before {
      background-color: rgba(36, 36, 36, 0); }
    .portfolio .grid__item--1 {
      background-image: url(../../images/restaurant.jpg);
      background-attachment: scroll;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover; }
      .portfolio .grid__item--1::after {
        content: attr(data-name); }
    .portfolio .grid__item--2 {
      background-image: url(../../images/water-stadium.jpg);
      background-attachment: scroll;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover; }
      .portfolio .grid__item--2::after {
        content: attr(data-name); }
    .portfolio .grid__item--3 {
      background-image: url(../../images/udaltsova.jpg);
      background-attachment: scroll;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover; }
      .portfolio .grid__item--3::after {
        content: attr(data-name); }
    .portfolio .grid__item--4 {
      background-image: url(../../images/prechisenka.jpg);
      background-attachment: scroll;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover; }
      .portfolio .grid__item--4::after {
        content: attr(data-name); }
    .portfolio .grid__item--5 {
      background-image: url(../../images/apartment-in-nice.jpg);
      background-attachment: scroll;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover; }
      .portfolio .grid__item--5::after {
        content: attr(data-name); }
    .portfolio .grid__item--6 {
      background-image: url(../../images/childrens-room.jpg);
      background-attachment: scroll;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover; }
      .portfolio .grid__item--6::after {
        content: attr(data-name); }
    .portfolio .grid__item--7 {
      background-image: url(../../images/house-in-kurkino.jpg);
      background-attachment: scroll;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover; }
      .portfolio .grid__item--7::after {
        content: attr(data-name); }
    .portfolio .grid__item--8 {
      background-image: url(../../images/apartment-on-the-kutuzovskaya-riviera.jpg);
      background-attachment: scroll;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover; }
      .portfolio .grid__item--8::after {
        content: attr(data-name); }
    .portfolio .grid__item--9 {
      background-image: url(../../images/house-in-pavlovo.jpg);
      background-attachment: scroll;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover; }
      .portfolio .grid__item--9::after {
        content: attr(data-name); }

.services .grid {
  grid-template-columns: 1fr;
  width: 100%; }
  .services .grid__item {
    padding: 5rem 0;
    border-bottom: 0.1rem solid #eaeaea; }
    @media only screen and (min-width: 768px) {
      .services .grid__item {
        padding: 8rem 0; } }
    @media only screen and (min-width: 1024px) {
      .services .grid__item {
        border-bottom: 0; } }
    @media only screen and (min-width: 1024px) {
      .services .grid__item .wrapper {
        justify-content: space-between; } }
    @media only screen and (min-width: 1024px) {
      .services .grid__item--1, .services .grid__item--2, .services .grid__item--3, .services .grid__item--4 {
        border-top: 0.1rem solid #eaeaea;
        margin-bottom: 10rem; } }
    .services .grid__item--1 .services__img, .services .grid__item--2 .services__img, .services .grid__item--3 .services__img, .services .grid__item--4 .services__img {
      display: none; }
      @media only screen and (min-width: 1024px) {
        .services .grid__item--1 .services__img, .services .grid__item--2 .services__img, .services .grid__item--3 .services__img, .services .grid__item--4 .services__img {
          display: inline-block;
          width: 37rem;
          height: 49rem;
          margin-top: -10.5rem;
          position: relative;
          z-index: 1; } }
  @media only screen and (min-width: 1024px) and (min-width: 1366px) {
    .services .grid__item--1 .services__img, .services .grid__item--2 .services__img, .services .grid__item--3 .services__img, .services .grid__item--4 .services__img {
      width: 49rem;
      height: 69rem; } }
      @media only screen and (min-width: 1024px) {
          .services .grid__item--1 .services__img img, .services .grid__item--2 .services__img img, .services .grid__item--3 .services__img img, .services .grid__item--4 .services__img img {
            height: 100%;
            width: 100%;
            object-fit: cover; }
          .services .grid__item--1 .services__img::before, .services .grid__item--2 .services__img::before, .services .grid__item--3 .services__img::before, .services .grid__item--4 .services__img::before {
            content: '';
            position: absolute;
            top: -2rem;
            left: -2rem;
            z-index: -1;
            height: 100%;
            width: 100%;
            background-color: #f2f2f2; } }
    @media only screen and (min-width: 1024px) {
      .services .grid__item--1 .services__content, .services .grid__item--2 .services__content, .services .grid__item--3 .services__content, .services .grid__item--4 .services__content {
        width: 40%; } }
    @media only screen and (min-width: 1024px) {
      .services .grid__item--4 {
        margin-bottom: 0; } }

.about .grid {
  grid-template-columns: 1fr;
  width: 100%; }
  @media only screen and (min-width: 1024px) {
    .about .grid {
      grid-template-columns: 50% 20rem auto;
      grid-template-rows: 70% 15% 15%;
      height: 100%; } }
  .about .grid__item {
    width: 100%;
    height: 100%; }
    .about .grid__item--1 {
      padding-bottom: 7.5rem; }
      @media only screen and (min-width: 1024px) {
        .about .grid__item--1 {
          grid-column: 1 / 2;
          grid-row: 1 / 3;
          padding-top: 15rem; } }
      @media only screen and (min-width: 1024px) {
        .about .grid__item--1 .wrapper {
          width: 70%; } }
      @media only screen and (min-width: 1366px) {
        .about .grid__item--1 .wrapper {
          width: 90%; } }
    .about .grid__item--2 {
      background-image: url(../../images/profile.jpg);
      background-attachment: scroll;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: 0;
      padding-top: 100%; }
      @media only screen and (min-width: 1024px) {
        .about .grid__item--2 {
          grid-column: 2 / 4;
          grid-row: 1 / 3;
          height: 100% !important;
          padding-top: 0; } }
    .about .grid__item--3 {
      background-color: #f2f2f2;
      padding: 2rem 0 8rem 0; }
      @media only screen and (min-width: 768px) {
        .about .grid__item--3 {
          padding: 10rem 0 8rem 0; } }
      @media only screen and (min-width: 1024px) {
        .about .grid__item--3 {
          grid-column: 1 / 3;
          grid-row: 2 / 4;
          position: relative;
          z-index: 2;
          display: flex;
          align-items: center; } }
      .about .grid__item--3 .wrapper {
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column; }
        @media only screen and (min-width: 1024px) {
          .about .grid__item--3 .wrapper {
            margin: 0 auto 0 7%; } }
      @media only screen and (min-width: 1024px) {
        .about .grid__item--3 .text {
          font-size: 2rem;
          font-weight: 400;
          line-height: 2.7rem; } }

.form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  margin-top: 5rem; }
  @media only screen and (min-width: 1024px) {
    .form {
      margin-top: 0; } }
  .form__top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 5rem; }
    .form__top .form__item {
      width: 45%;
      position: relative; }
      .form__top .form__item label {
        position: absolute;
        left: 0;
        bottom: .5rem; }
  .form__bottom {
    width: 100%; }
    .form__bottom .form__item {
      position: relative; }
      @media only screen and (min-width: 768px) {
        .form__bottom .form__item--4 {
          display: flex;
          justify-content: flex-start;
          align-items: center !important;
          flex-direction: row; }
          .form__bottom .form__item--4 small {
            width: 25rem; } }
      .form__bottom .form__item label {
        position: absolute;
        left: 0;
        bottom: .5rem; }
      .form__bottom .form__item:not(:last-child) {
        margin-bottom: 2.5rem; }
        @media only screen and (min-width: 768px) {
          .form__bottom .form__item:not(:last-child) {
            margin-bottom: 3.5rem; } }
  .form__item {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column; }

input[type="text"],
input[type="email"] {
  border: none;
  border-bottom: 0.1rem solid #eaeaea;
  color: #595959;
  font-size: 1.8rem;
  outline-width: 0;
  padding-bottom: .5rem;
  transition: all .3s ease-in-out;
  width: 100%; }
  input[type="text"]:focus,
  input[type="email"]:focus {
    border-bottom: 0.1rem solid #242424; }

textarea {
  border: none;
  border-bottom: 0.1rem solid #eaeaea;
  color: #595959;
  font-size: 1.8rem;
  height: 3rem !important;
  outline-width: 0;
  padding-bottom: .5rem;
  resize: none;
  transition: all .3s ease-in-out;
  width: 100%; }
  textarea:focus {
    border-bottom: 0.1rem solid #242424; }

.footer {
  background-color: #242424;
  padding: 5rem 0 1rem 0; }
  @media only screen and (min-width: 1024px) {
    .footer {
      position: sticky;
      bottom: 0%;
      left: 0%;
      width: 100%; } }
  .footer .wrapper {
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column; }
    @media only screen and (min-width: 768px) {
      .footer .wrapper {
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: row; } }
    @media only screen and (min-width: 1024px) {
      .footer .wrapper {
        flex-wrap: nowrap; } }
  .footer__item:not(:last-child) {
    margin-bottom: 3.5rem; }
  @media only screen and (min-width: 768px) {
    .footer__item {
      width: 50%; } }
  @media only screen and (min-width: 1024px) {
    .footer__item {
      width: auto; } }
  .footer__item--1 {
    flex-grow: 2; }
  .footer__item--2, .footer__item--3, .footer__item--4 {
    flex-grow: 1; }
  .footer__ul li:not(:last-child) {
    margin-bottom: 1.8rem; }
  .footer__ul a {
    color: #fff; }

.hero {
  height: 98vh;
  width: 100%; }
  @media only screen and (min-width: 768px) {
    .hero {
      height: 66vh; } }
  @media only screen and (min-width: 1024px) {
    .hero {
      padding-bottom: 0;
      height: 100vh; } }

.home-about {
  padding: 6rem 0;
  background-color: #eaeaea; }
  @media only screen and (min-width: 1024px) {
    .home-about {
      padding: 7rem 0; } }
  @media only screen and (min-width: 1366px) {
    .home-about {
      padding: 10rem 0; } }
  .home-about .wrapper {
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column; }
  .home-about h2 {
    margin-bottom: 3rem; }
    @media only screen and (min-width: 1366px) {
      .home-about h2 {
        width: 80%;
        font-size: 7rem;
        line-height: 7rem; } }

@media only screen and (min-width: 1024px) {
  .home__about--bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 6rem; } }

@media only screen and (min-width: 1024px) {
  .home__about--bottom .text:nth-of-type(1n) {
    width: auto;
    margin-right: 5rem; } }

@media only screen and (min-width: 1366px) {
  .home__about--bottom .text:nth-of-type(1n) {
    width: auto;
    margin-right: 7.5rem; } }

@media only screen and (min-width: 1024px) {
  .home__about--bottom .text:nth-of-type(2n) {
    width: 25rem;
    margin-right: 5rem; } }

@media only screen and (min-width: 1366px) {
  .home__about--bottom .text:nth-of-type(2n) {
    width: 35rem;
    margin-right: 7.5rem; } }

.implemented-projects {
  background-color: #fff;
  padding: 6rem 0;
  text-align: center;
  display: flex;
  flex-direction: column; }
  .implemented-projects .wrapper {
    justify-content: center;
    align-items: center; }
  .implemented-projects__container {
    margin-top: 6rem;
    width: 100%;
    max-width: 160rem; }
    @media only screen and (min-width: 1366px) {
      .implemented-projects__container {
        width: 90%;
        margin: 0 auto; } }
  .implemented-projects__item {
    position: relative;
    display: flex;
    padding: 7.5rem 0;
    overflow: hidden; }
    .implemented-projects__item .top-line,
    .implemented-projects__item .bottom-line {
      background-color: #242424;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      width: .1rem; }
    .implemented-projects__item .top-line {
      height: 10rem;
      top: 0%; }
    .implemented-projects__item .bottom-line {
      height: calc(100% - 20rem);
      bottom: 0%; }
    .implemented-projects__item .image {
      width: 40%;
      height: 0;
      padding-top: 40%;
      background-attachment: scroll;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover; }
    .implemented-projects__item .text {
      position: absolute;
      top: 13rem;
      left: 0%;
      width: 100%; }
    .implemented-projects__item--1 {
      justify-content: flex-start; }
      .implemented-projects__item--1 .image {
        background-image: url(../../images/water-stadium.jpg); }
    .implemented-projects__item--2 {
      justify-content: flex-end; }
      .implemented-projects__item--2 .image {
        background-image: url(../../images/udaltsova.jpg); }
    .implemented-projects__item--3 {
      justify-content: flex-start; }
      .implemented-projects__item--3 .image {
        background-image: url(../../images/prechisenka.jpg); }
  .implemented-projects .cta__container {
    padding: 6rem 0 3rem 0; }

.home-services {
  background-color: #fff;
  padding: 7.5rem 0; }
  @media only screen and (min-width: 1366px) {
    .home-services {
      padding: 10rem 0; } }
  .home-services .wrapper {
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column; }

.accordion {
  margin: 5rem 0 8rem 0;
  width: 100%; }
  .accordion__item {
    border-bottom: 0.1rem solid #f2f2f2; }
  .accordion__top {
    padding: 3.5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer; }
    .accordion__top h5 {
      transition: all .3s ease-in-out; }
    .accordion__top:hover h5 {
      color: #242424; }
    .accordion__top:hover .plus .horisontal,
    .accordion__top:hover .plus .vertical {
      background-color: #242424; }
    .accordion__top .plus {
      height: 1rem;
      width: 1rem;
      position: relative; }
      .accordion__top .plus .horisontal {
        height: .2rem;
        width: 100%;
        background-color: #595959;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        transition: all .3s ease-in-out; }
      .accordion__top .plus .vertical {
        height: 100%;
        width: .2rem;
        background-color: #595959;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        transition: all .3s ease-in-out; }
  .accordion__bottom {
    max-height: 0;
    overflow: hidden;
    transition: max-height .3s ease-in-out; }
    @media only screen and (min-width: 1024px) {
      .accordion__bottom {
        width: 50%; } }

.instagram {
  padding: 7.5rem 0 3rem 0;
  background-color: #fff; }
  @media only screen and (min-width: 1024px) {
    .instagram {
      padding: 7.5rem 0 7.5rem 0; } }
  .instagram .wrapper {
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column; }
    @media only screen and (min-width: 1024px) {
      .instagram .wrapper {
        flex-direction: row;
        align-items: center; } }
  @media only screen and (min-width: 1024px) {
    .instagram__top, .instagram__bottom {
      width: 50%;
      margin-bottom: 0; } }
  .instagram h2 {
    margin-bottom: 3rem; }
    @media only screen and (min-width: 1024px) {
      .instagram h2 {
        margin-bottom: 0; } }

.questions {
  background-color: #fff; }
  .questions .wrapper {
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column; }
    @media only screen and (min-width: 1024px) {
      .questions .wrapper {
        flex-direction: row;
        align-items: center; } }
  .questions__top {
    padding: 3rem 0; }
    @media only screen and (min-width: 768px) {
      .questions__top {
        padding-bottom: 5rem; } }
    @media only screen and (min-width: 1024px) {
      .questions__top {
        padding-bottom: 8rem; } }
  .questions__bottom {
    background-color: #eaeaea;
    padding: 6rem 0; }
    @media only screen and (min-width: 768px) {
      .questions__bottom {
        padding: 10rem 0; } }
    .questions__bottom .social-link {
      margin-bottom: 3rem; }
    @media only screen and (min-width: 1024px) {
      .questions__bottom .wrapper {
        justify-content: flex-start; } }
  @media only screen and (min-width: 1024px) {
    .questions__item {
      width: 50%; } }
  @media only screen and (min-width: 1024px) and (min-width: 1024px) {
    .questions__item--2 {
      width: 40%; } }

.about {
  padding-top: 13rem;
  background-color: #fff; }
  .about h2 {
    margin-bottom: 6rem; }
  .about .text:not(:last-child) {
    margin-bottom: 2.7rem; }
  .about .grid__item--3 .text {
    margin-bottom: 6rem; }
  @media only screen and (min-width: 1024px) {
    .about {
      padding-top: 0;
      height: calc(100vh + 20rem); } }

.work-approach {
  padding: 7.5rem 0;
  background-color: #fff; }
  @media only screen and (min-width: 768px) {
    .work-approach {
      padding: 10rem 0; } }
  .work-approach h2 {
    margin-bottom: 6rem; }
  .work-approach .wrapper {
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column; }
  .work-approach__list {
    margin: 0 0 6rem 0; }
    @media only screen and (min-width: 1024px) {
      .work-approach__list {
        width: auto;
        display: flex;
        justify-content: space-between;
        margin: 5rem 0; } }
    @media only screen and (min-width: 1024px) {
      .work-approach__list ul {
        width: 40rem; } }
    @media only screen and (min-width: 1366px) {
      .work-approach__list ul {
        width: 53rem; } }
  .work-approach ul:not(:last-child) {
    margin-bottom: 5rem; }
  .work-approach ul li:not(:last-child) {
    margin-bottom: 5rem; }

.projects {
  background-color: #fff;
  padding: 10rem 0 2.5rem 0;
  height: 55vh; }
  @media only screen and (min-width: 768px) {
    .projects {
      padding: 10rem 0 6rem 0;
      height: auto; } }
  @media only screen and (min-width: 1024px) {
    .projects {
      height: auto;
      padding: 15rem 0 10rem 0; } }
  @media only screen and (min-width: 1366px) {
    .projects {
      height: auto;
      padding: 20rem 0 10rem 0; } }
  .projects .wrapper {
    height: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column; }
  .projects__content h2 {
    margin-bottom: 6rem; }
  @media only screen and (min-width: 1024px) {
    .projects__content .text {
      width: 50%; } }

.portfolio {
  padding-bottom: 7.5rem;
  background-color: #fff; }

.services {
  padding: 2.5rem 0 7.5rem 0;
  background-color: #fff; }
  .services__intro {
    padding: 10rem 0 5rem 0;
    border-bottom: 0.1rem solid #eaeaea;
    background-color: #fff; }
    @media only screen and (min-width: 768px) {
      .services__intro {
        height: 55vh; } }
    @media only screen and (min-width: 1024px) {
      .services__intro {
        padding: 15rem 0 10rem 0;
        height: 70vh;
        border-bottom: none; } }
    .services__intro h2 {
      margin-bottom: 6rem; }
    .services__intro .text {
      width: 100%; }
      @media only screen and (min-width: 1024px) {
        .services__intro .text {
          width: 45%; } }
    .services__intro .wrapper {
      height: 100%;
      justify-content: space-between;
      align-items: flex-start;
      flex-direction: column; }
      @media only screen and (min-width: 1024px) {
        .services__intro .wrapper {
          justify-content: center;
          align-items: flex-start; } }
  .services h4 {
    margin-bottom: 2rem; }
  .services .subtitle {
    margin-bottom: 6rem; }
  .services .accordion {
    margin: 5rem 0 0 0; }
  .services__ul {
    list-style: none; }
    .services__ul li {
      position: relative;
      padding-left: 3rem; }
      .services__ul li:not(:last-child) {
        margin-bottom: 1.5rem; }
      .services__ul li::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        height: .1rem;
        width: 2rem;
        background-color: #242424; }

.contact {
  padding: 7.5rem 0;
  background-color: #fff; }
  .contact .wrapper {
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column; }
    @media only screen and (min-width: 1024px) {
      .contact .wrapper {
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: row; } }
  .contact__top {
    margin-bottom: 3.5rem; }
    @media only screen and (min-width: 768px) {
      .contact__top {
        width: 55%; } }
    @media only screen and (min-width: 1024px) {
      .contact__top {
        width: 40%;
        margin-bottom: 0; } }
  .contact__bottom {
    width: 100%; }
    @media only screen and (min-width: 1024px) {
      .contact__bottom {
        width: 50%; } }
  .contact__intro {
    padding: 12rem 0 6rem 0;
    background-color: #fff; }
    .contact__intro h2 {
      margin-bottom: 6rem; }
    @media only screen and (min-width: 1024px) {
      .contact__intro .text {
        margin-right: 5rem; } }
    @media only screen and (min-width: 768px) {
      .contact__intro {
        height: 85%; } }
    @media only screen and (min-width: 1024px) {
      .contact__intro {
        height: 70vh;
        padding: 0; } }
    @media only screen and (min-width: 768px) {
      .contact__intro--bottom {
        width: 60%; } }
    @media only screen and (min-width: 1024px) {
      .contact__intro--bottom {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%; }
        .contact__intro--bottom .text {
          width: 45%;
          margin-bottom: 0; } }
    @media only screen and (min-width: 1024px) and (min-width: 1366px) {
      .contact__intro--bottom .text {
        width: 34%;
        margin-right: 20rem !important; } }
    @media only screen and (min-width: 1024px) {
        .contact__intro--bottom .email {
          width: 50%; } }
    .contact__intro .wrapper {
      justify-content: space-between;
      align-items: flex-start;
      flex-direction: column; }
      @media only screen and (min-width: 768px) {
        .contact__intro .wrapper {
          height: 100%; } }
      @media only screen and (min-width: 1024px) {
        .contact__intro .wrapper {
          justify-content: center; } }

.social {
  background-color: #eaeaea;
  padding: 4rem 0; }
  @media only screen and (min-width: 768px) {
    .social {
      padding: 10rem 0; } }
  .social .wrapper {
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column; }
    @media only screen and (min-width: 1024px) {
      .social .wrapper {
        justify-content: flex-start;
        align-items: center;
        flex-direction: row; } }
  .social__top {
    margin-bottom: 3rem; }
    @media only screen and (min-width: 1024px) {
      .social__top {
        margin-bottom: 0;
        width: 50%; } }
  .social__bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column; }
    .social__bottom .social-link:not(:last-child) {
      margin-bottom: 1.5rem; }
      @media only screen and (min-width: 1024px) {
        .social__bottom .social-link:not(:last-child) {
          margin-bottom: 0; } }
    @media only screen and (min-width: 768px) {
      .social__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        width: 60%; } }
    @media only screen and (min-width: 1024px) {
      .social__bottom {
        width: 30%; } }
