@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
html {
  font-size: 62.5%; }

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem; }

a {
  display: inline-block;
  text-decoration: none; }

.logo {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #242424; }

.heading {
  color: #242424; }
  .heading--primary {
    font-size: 3.6rem;
    margin-bottom: 1.8rem;
    font-weight: 400 !important; }
  .heading--secondary {
    font-size: 3.2rem;
    margin-bottom: 3rem;
    font-weight: 500;
    line-height: 1.2; }
  .heading--terterary {
    font-size: 2.8rem;
    margin-bottom: 3rem;
    font-weight: 500; }

.text:not(:last-child) {
  margin-bottom: 3.5rem; }

.hero .text {
  width: 55%;
  font-weight: 300;
  line-height: 1.6; }

.cta {
  color: #242424; }

.home-about .text {
  margin-bottom: 3rem; }

.instagram-username {
  color: #242424;
  font-size: 2.2rem;
  font-weight: 400;
  position: relative;
  z-index: 1; }
  .instagram-username::after {
    content: '';
    position: absolute;
    left: 0%;
    bottom: 0%;
    z-index: -1;
    height: .6rem;
    width: 100%;
    background-color: #f2f2f2;
    transition: all .3s ease-in-out; }
  .instagram-username:hover::after {
    height: .3rem; }

.email {
  color: #242424;
  font-size: 1.8rem;
  position: relative;
  z-index: 1;
  margin-bottom: 4rem; }
  .email::after {
    content: '';
    position: absolute;
    left: 0%;
    bottom: 0%;
    z-index: -1;
    height: .6rem;
    width: 100%;
    background-color: #fff;
    transition: all .3s ease-in-out; }
  .email:hover::after {
    height: .3rem; }

.footer {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.6rem; }

.author {
  color: #fff; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html, body {
  height: 100%;
  width: 100%; }

.wrapper {
  width: 90%;
  margin: 0 auto;
  display: flex; }

img {
  vertical-align: bottom; }

.cta {
  border: 0.2rem solid #242424;
  display: inline-block;
  padding: 1rem 8rem;
  transition: all .5s ease-in-out; }
  .cta:hover {
    background-color: #242424;
    color: #fff; }

.header {
  position: absolute;
  top: 0;
  left: 0%;
  z-index: 5;
  width: 100%;
  padding: 2.5rem 0; }
  .header .wrapper {
    justify-content: space-between;
    align-items: center; }
  .header .logo {
    display: inline-block;
    background-color: #eaeaea;
    padding: 1rem; }
  .header .menu {
    cursor: pointer;
    width: 3.5rem; }
    .header .menu__line {
      height: .3rem;
      width: 100%;
      background-color: #242424;
      border-radius: 5rem; }
      .header .menu__line:not(:last-child) {
        margin-bottom: .7rem; }

ul {
  list-style: none; }

.grid {
  display: grid; }

.hero .grid {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  height: 100%;
  width: 100%; }
  .hero .grid__item {
    height: 100%;
    width: 100%; }
    .hero .grid__item--1 {
      grid-column: 1 / -1;
      grid-row: 1 / -1;
      height: 100%;
      position: relative;
      z-index: 2;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-direction: column;
      width: 90%;
      margin: 0 auto;
      padding: 8rem 0; }
    .hero .grid__item--2 {
      grid-column: 1 / -1;
      grid-row: 1 / -1;
      height: 100%; }
      .hero .grid__item--2 img {
        height: 100%;
        width: 100%;
        object-fit: cover; }

.implemented-projects .grid {
  grid-template-columns: 45% 10% 45%;
  grid-template-rows: 10rem 3rem 5rem 20rem 7.5rem 3rem 5rem 20rem 7.5rem 3rem 5rem 20rem 7.5rem;
  width: 100%; }
  .implemented-projects .grid__item {
    display: flex; }
    .implemented-projects .grid__item--1 {
      grid-column: 1 / 2;
      grid-row: 2 / 5;
      background-image: url(../../images/water-stadium.jpg);
      background-attachment: scroll;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover; }
    .implemented-projects .grid__item--2 {
      grid-column: 1 / -1;
      grid-row: 3 / 4;
      justify-content: center;
      align-items: center; }
    .implemented-projects .grid__item--3 {
      grid-column: 3 / -1;
      grid-row: 6 / 9;
      background-image: url(../../images/udaltsova.jpg);
      background-attachment: scroll;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover; }
    .implemented-projects .grid__item--4 {
      grid-column: 1 / -1;
      grid-row: 7 / 8;
      justify-content: center;
      align-items: center; }
    .implemented-projects .grid__item--5 {
      grid-column: 1 / 2;
      grid-row: 10 / 13;
      background-image: url(../../images/prechisenka.jpg);
      background-attachment: scroll;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover; }
    .implemented-projects .grid__item--6 {
      grid-column: 1 / -1;
      grid-row: 11/ 12;
      justify-content: center;
      align-items: center; }

.instagram .grid {
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 7.5rem; }
  .instagram .grid__item {
    width: 100%;
    height: 0;
    padding-top: 100%; }
    .instagram .grid__item--1 {
      background-image: url(../../images/instagram-1.jpg);
      background-attachment: scroll;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      grid-column: 1 / -1; }
    .instagram .grid__item--2, .instagram .grid__item--3, .instagram .grid__item--4 {
      display: none; }

.portfolio .grid {
  grid-template-columns: 1fr;
  width: 100%;
  gap: 2.5rem; }
  .portfolio .grid__item {
    width: 100%;
    height: 0;
    padding-top: 100%;
    position: relative;
    overflow: hidden; }
    .portfolio .grid__item::before {
      content: '';
      position: absolute;
      top: 0%;
      right: 0%;
      bottom: 0%;
      left: 0%;
      height: 100%;
      width: 100%;
      background-color: rgba(36, 36, 36, 0.35);
      transition: all .3s ease-in-out; }
    .portfolio .grid__item::after {
      position: absolute;
      bottom: 0;
      left: 0;
      color: #fff;
      font-size: 2.8rem;
      font-weight: 400;
      margin: 0 0 2.5rem 2.5rem; }
    .portfolio .grid__item:hover::before {
      background-color: rgba(36, 36, 36, 0); }
    .portfolio .grid__item--1 {
      background-image: url(../../images/restaurant.jpg);
      background-attachment: scroll;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover; }
      .portfolio .grid__item--1::after {
        content: attr(data-name); }
    .portfolio .grid__item--2 {
      background-image: url(../../images/water-stadium.jpg);
      background-attachment: scroll;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover; }
      .portfolio .grid__item--2::after {
        content: attr(data-name); }
    .portfolio .grid__item--3 {
      background-image: url(../../images/udaltsova.jpg);
      background-attachment: scroll;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover; }
      .portfolio .grid__item--3::after {
        content: attr(data-name); }
    .portfolio .grid__item--4 {
      background-image: url(../../images/prechisenka.jpg);
      background-attachment: scroll;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover; }
      .portfolio .grid__item--4::after {
        content: attr(data-name); }
    .portfolio .grid__item--5 {
      background-image: url(../../images/apartment-in-nice.jpg);
      background-attachment: scroll;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover; }
      .portfolio .grid__item--5::after {
        content: attr(data-name); }
    .portfolio .grid__item--6 {
      background-image: url(../../images/childrens-room.jpg);
      background-attachment: scroll;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover; }
      .portfolio .grid__item--6::after {
        content: attr(data-name); }
    .portfolio .grid__item--7 {
      background-image: url(../../images/house-in-kurkino.jpg);
      background-attachment: scroll;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover; }
      .portfolio .grid__item--7::after {
        content: attr(data-name); }
    .portfolio .grid__item--8 {
      background-image: url(../../images/apartment-on-the-kutuzovskaya-riviera.jpg);
      background-attachment: scroll;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover; }
      .portfolio .grid__item--8::after {
        content: attr(data-name); }
    .portfolio .grid__item--9 {
      background-image: url(../../images/house-in-pavlovo.jpg);
      background-attachment: scroll;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover; }
      .portfolio .grid__item--9::after {
        content: attr(data-name); }

.services .grid {
  grid-template-columns: 1fr;
  width: 100%; }
  .services .grid__item {
    padding: 5rem 0;
    border-bottom: 0.1rem solid #eaeaea; }

.about .grid {
  grid-template-columns: 1fr;
  width: 100%; }
  .about .grid__item {
    width: 100%;
    height: 100%; }
    .about .grid__item--1 {
      padding-bottom: 7.5rem; }
    .about .grid__item--2 {
      background-image: url(../../images/profile.jpg);
      background-attachment: scroll;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: 0;
      padding-top: 100%; }
    .about .grid__item--3 {
      background-color: #f2f2f2;
      padding: 3rem 0 7.5rem 0; }
      .about .grid__item--3 .wrapper {
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column; }

.footer {
  background-color: #242424;
  padding: 5rem 0 1rem 0; }
  .footer .wrapper {
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column; }
  .footer__item:not(:last-child) {
    margin-bottom: 3.5rem; }
  .footer__ul li:not(:last-child) {
    margin-bottom: 1.8rem; }
  .footer__ul a {
    color: #fff; }

.hero {
  height: calc(100% - 2rem);
  width: 100%;
  background-image: url(../../images/hero-bg.jpg);
  background-attachment: fixed;
  background-position: 45% center;
  background-repeat: no-repeat;
  background-size: cover; }

.home-about {
  padding: 7.5rem 0;
  background-color: #eaeaea; }
  .home-about .wrapper {
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column; }

.implemented-projects {
  background-color: #fff;
  padding: 7.5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 100%; }
  .implemented-projects .wrapper {
    justify-content: center;
    text-align: center; }

.home-services {
  background-color: #fff;
  padding: 7.5rem 0; }
  .home-services .wrapper {
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column; }

.accordion {
  margin: 5rem 0 8rem 0; }
  .accordion__item {
    border-bottom: 0.1rem solid #f2f2f2; }
  .accordion__top {
    padding: 3.5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .accordion__top .plus {
      height: 1rem;
      width: 1rem;
      position: relative; }
      .accordion__top .plus .horisontal {
        height: .1rem;
        width: 100%;
        background-color: #595959;
        position: absolute;
        top: 50%;
        transform: translateY(-50%); }
      .accordion__top .plus .vertical {
        height: 100%;
        width: .1rem;
        background-color: #595959;
        position: absolute;
        left: 50%;
        transform: translateX(-50%); }
  .accordion__bottom {
    padding: 0;
    height: 0;
    visibility: hidden; }

.instagram {
  padding: 7.5rem 0;
  background-color: #fff; }
  .instagram .wrapper {
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column; }

.questions {
  background-color: #fff; }
  .questions .wrapper {
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column; }
  .questions__bottom {
    background-color: #eaeaea;
    padding: 3.5rem 0; }

.about {
  padding-top: 12rem; }

.work-approach {
  padding: 7.5rem 0; }
  .work-approach .wrapper {
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column; }
  .work-approach ul {
    margin-bottom: 2rem; }
    .work-approach ul li:not(:last-child) {
      margin-bottom: 2rem; }

.projects {
  background-color: #fff;
  padding: 12rem 0 3.5rem 0rem;
  height: 50%; }
  .projects .wrapper {
    height: 100%;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column; }

.portfolio {
  padding-bottom: 7.5rem; }

.services {
  padding: 7.5rem 0; }
  .services__intro {
    padding: 12rem 0 5rem 0;
    border-bottom: 0.1rem solid #eaeaea; }
    .services__intro .wrapper {
      height: 100%;
      justify-content: space-between;
      align-items: flex-start;
      flex-direction: column; }
  .services__ul {
    list-style: none; }
    .services__ul li {
      position: relative;
      padding-left: 3rem; }
      .services__ul li:not(:last-child) {
        margin-bottom: 1.5rem; }
      .services__ul li::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        height: .1rem;
        width: 2rem;
        background-color: #242424; }
