.footer {
    background-color: $dark;
    padding: 5rem 0 1rem 0;

    & .wrapper {
        @include sbfsc;

        @media only screen and (min-width: $medium-device) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
    }

    &__item {
        &:not(:last-child) {
            margin-bottom: 3.5rem;
        }
    }

    &__ul {
        & li {
            &:not(:last-child) {
                margin-bottom: 1.8rem;
            }
        }

        & a {
            color: $white;
        }
    }
}