.header {
    position: absolute;
    top: 0;
    left: 0%;
    z-index: 5;
    width: 100%;
    padding: 2.5rem 0;

    & .wrapper {
        @include sbc;
    }

    & .logo {
        display: inline-block;
        background-color: $grey;
        padding: 1rem;
    }

    & .menu {
        cursor: pointer;
        width: 2rem;

        &__line {
            height: .2rem;
            width: 100%;
            background-color: $dark;
            border-radius: 5rem;

            &:not(:last-child) {
                margin-bottom: .4rem;
            }
        }
    }
}