.header {
    position: fixed;
    top: 0;
    left: 0%;
    z-index: 5;
    width: 100%;
    padding: 1.5rem 0;

    @media only screen and (min-width: $large-device) {
        padding: 3.5rem 0;
    }

    & .wrapper {
        @include sbc;
        width: 95%;
    }

    & .logo {
        display: flex;
        @include center-center;
        background-color: $grey;
        height: 4rem;
        width: 4rem;

        @media only screen and (min-width: $large-device) {
            height: 8rem;
            width: 8rem;
        }
    }

    & .menu {
        cursor: pointer;
        width: 2rem;

        @media only screen and (min-width: $large-device) {
            display: none;
        }

        &__line {
            height: .2rem;
            width: 100%;
            background-color: $dark;
            border-radius: 5rem;

            &:not(:last-child) {
                margin-bottom: .4rem;
            }
        }
    }
}