.cta {
    border: .2rem solid $dark;
    display: inline-block;
    padding: 1rem 8rem;
    transition: all .5s ease-in-out;

    &:hover {
        background-color: $dark;
        color: $white;
    }
}

.btn {
    color: $dark;
    background-color: transparent;
    border: .2rem solid $dark;
    border-radius: .3rem;
    cursor: pointer;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    margin-bottom: 3.5rem;
    padding: 1.6rem;
    transition: all .3s ease-in-out;
    width: 100%;

    &:hover {
        background-color: $dark;
        color: $white;
    }
}