* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
    display: flex;

    @media only screen and (min-width: 1680px) {
        width: 1600px;
    }
}

img {
    vertical-align: bottom;
}

ol {
    list-style-type: decimal;
}