@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
}

a {
    display: inline-block;
    text-decoration: none;
}

.logo {
    font-size: 1.8rem;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    color: $dark;

    @media only screen and (min-width: $large-device) {
        font-size: 3.6rem;
        line-height: 3.6rem;
    }
}

.heading {

    &--primary {
        color: #1a1a1a;
        font-size: 4rem;
        font-weight: 400;
        line-height: 5rem;
        margin-bottom: 2rem;

        @media only screen and (min-width: $medium-device) {
            font-size: 6rem;
            line-height: 8rem;
        }

        @media only screen and (min-width: $large-device) {
            font-size: 8rem;
            line-height: 8rem;
        }
    }

    &--secondary {
        color: $dark;
        font-size: 3.5rem;
        line-height: 3.5rem;
        font-weight: 400;

        @media only screen and (min-width: $medium-device) {
            font-size: 5rem;
            line-height: 5rem;
        }

        @media only screen and (min-width: $extra-large-device) {
            font-size: 7rem;
            line-height: 7rem;
        }
    }

    &--tertiary {
        color: $dark;
        font-size: 3rem;
        line-height: 3rem;
        font-weight: 400;

        @media only screen and (min-width: $medium-device) {
            font-size: 4rem;
            line-height: 4rem;
        }

        @media only screen and (min-width: $extra-large-device) {
            font-size: 5rem;
            line-height: 5rem;
        }
    }

    &--quaternary {
        color: $dark;
        font-size: 2.5rem;
        font-weight: 400;
        line-height: 2.5rem;

        @media only screen and (min-width: $medium-device) {
            font-size: 3rem;
            line-height: 3rem;
        }

        @media only screen and (min-width: $extra-large-device) {
            font-size: 4rem;
            line-height: 4rem;
        }
    }

    &--quinary {
        color: rgba(0,0,0,0.65);
        font-size: 2rem;
        font-weight: 400;
        line-height: 2.4rem;

        @media only screen and (min-width: $medium-device) {
            font-size: 2.5rem;
            line-height: 3rem;
        }
    }
}

.text {
    color: #1a1a1a;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.2rem;

    &--white {
        color: $white;
    }
}

.text:not(:last-child) {
    margin-bottom: 3.5rem;
}

.social-link {
    color: $dark;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.8rem;
    position: relative;
    z-index: 1;

    @media only screen and (min-width: $medium-device) {
        font-size: 2.4rem;
        line-height: 2.4rem;
    }

    @media only screen and (min-width: $extra-large-device) {
        font-size: 4rem;
        line-height: 4rem;
    }

    &::after {
        content: '';
        position: absolute;
        left: 0%;
        bottom: 0%;
        z-index: -1;
        height: .6rem;
        width: 100%;
        background-color: $grey-light;
        transition: all .3s ease-in-out;
    }

    &:hover {
        &::after {
            height: .3rem;
        }
    }
}

.hero {
    & .text {
        width: 55%;
        font-weight: 400;
        line-height: 1.6;

        @media only screen and (min-width: $extra-large-device) {
            font-size: 1.5rem;
            line-height: 2.2rem;
            margin-top: 4rem;
            color: $grey-dark;
        }
    }
}

.cta {
    color: $dark;
}

.home-about {
    & .text {
        margin-bottom: 3rem;
    }
}

.footer {
    color: $white;
    font-size: 1.5rem;
    line-height: 2.1;
    font-weight: 400;
}

.author {
    color: $white;
}

.services {
    &__intro {
        & .text {
            width: 35%;
        }
    }
}

.about__content {
    
    @media only screen and (min-width: $extra-large-device) {
        width: 90%;
        margin: 0 0 0 auto;
    }

    & .text {
        @media only screen and (min-width: $large-device) {
            width: 100%;
        }

        @media only screen and (min-width: $extra-large-device) {
            width: 90%;
        }
    }
}

.work-approach {
    & li {
        @media only screen and (min-width: $large-device) {
            font-size: 2rem;
            font-weight: 400;
            line-height: 2.7rem;
        }

        @media only screen and (min-width: $extra-large-device) {
            font-size: 2.8rem;
            line-height: 3.8rem;
        }
    }
}