@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
}

a {
    display: inline-block;
    text-decoration: none;
}

.logo {
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    color: $dark;
}

.heading {
    color: $dark;
    
    &--primary {
        font-size: 3.6rem;
        margin-bottom: 1.8rem;
        font-weight: 400 !important;
    }

    &--secondary {
        font-size: 3.2rem;
        margin-bottom: 3rem;
        font-weight: 500;
        line-height: 1.2;
    }

    &--terterary {
        font-size: 2.8rem;
        margin-bottom: 3rem;
        font-weight: 500;
    }
}

.text:not(:last-child) {
    margin-bottom: 3.5rem;
}

.hero {
    & .text {
        width: 55%;
        font-weight: 300;
        line-height: 1.6;
    }
}

.cta {
    color: $dark;
}

.home-about {
    & .text {
        margin-bottom: 3rem;
    }
}

.instagram-username {
    color: $dark;
    font-size: 2.2rem;
    font-weight: 400;
    position: relative;
    z-index: 1;

    &::after {
        content: '';
        position: absolute;
        left: 0%;
        bottom: 0%;
        z-index: -1;
        height: .6rem;
        width: 100%;
        background-color: $grey-light;
        transition: all .3s ease-in-out;
    }

    &:hover {
        &::after {
            height: .3rem;
        }
    }
}

.email {
    color: $dark;
    font-size: 1.8rem;
    position: relative;
    z-index: 1;
    margin-bottom: 4rem;

    &::after {
        content: '';
        position: absolute;
        left: 0%;
        bottom: 0%;
        z-index: -1;
        height: .6rem;
        width: 100%;
        background-color: $white;
        transition: all .3s ease-in-out;
    }

    &:hover {
        &::after {
            height: .3rem;
        }
    }
}

.footer {
    color: $white;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.6rem;
}

.author {
    color: $white;
}