.about {
    padding-top: 13rem;
    background-color: $white;

    & h2 {
        margin-bottom: 6rem;
    }

    & .text:not(:last-child) {
        margin-bottom: 2.7rem;
    }

    & .grid__item--3 {
        & .text {
            margin-bottom: 6rem;
        }
    }

    @media only screen and (min-width: $large-device) {
        padding-top: 0;
        height: calc(100vh + 20rem);
    }
}

.work-approach {
    padding: 7.5rem 0;
    background-color: $white;

    @media only screen and (min-width: $medium-device) {
        padding: 10rem 0;
    }

    & h2 {
        margin-bottom: 6rem;
    }


    & .wrapper {
        @include sbfsc;
    }

    &__list {
        margin: 0 0 6rem 0;

        @media only screen and (min-width: $large-device) {
            width: auto;
            display: flex;
            justify-content: space-between;
            margin: 5rem 0;
        }

        & ul {
            @media only screen and (min-width: $large-device) {
                width: 40rem;
            }

            @media only screen and (min-width: $extra-large-device) {
                width: 53rem;
            }
        }
    }

    & ul {
        &:not(:last-child) {
            margin-bottom: 5rem;
        }

        & li:not(:last-child) {
            margin-bottom: 5rem;
        }
    }
}