.about {
    padding-top: 12rem;
    background-color: $white;

    @media only screen and (min-width: $large-device) {
        padding-top: 0;
        height: calc(100vh + 20rem);
    }
}

.work-approach {
    padding: 7.5rem 0;
    background-color: $white;

    @media only screen and (min-width: $medium-device) {
        padding: 10rem 0;
    }

    & .wrapper {
        @include sbfsc;
    }

    &__list {
        @media only screen and (min-width: $large-device) {
            width: auto;
            display: flex;
            justify-content: space-between;
            margin: 5rem 0;
        }

        & ul {
            @media only screen and (min-width: $larger-device) {
                width: 53rem;
            }
        }
    }

    & ul {
        margin-bottom: 2rem;

        & li:not(:last-child) {
            margin-bottom: 2rem;
        }
    }
}