.contact {
    padding: 7.5rem 0;
    background-color: $white;

    @media only screen and (min-width: $extra-large-device) {
        padding: 10rem 0;
    }

    & .wrapper {
        @include sbfsc;

        @media only screen and (min-width: $large-device) {
            justify-content: space-between;
            align-items: flex-start;
            flex-direction: row;
        }
    }

    &__top {
        margin-bottom: 3.5rem;

        @media only screen and (min-width: $medium-device) {
            width: 55%;
        }

        @media only screen and (min-width: $large-device) {
            width: 40%;
            margin-bottom: 0;
        }
    }

    &__bottom {
        width: 100%;
        padding-top: 5rem;

        @media only screen and (min-width: $large-device) {
            width: 50%;
        }
    }

    &__intro {
        padding: 12rem 0 6rem 0;
        background-color: $white;

        & h2 {
            margin-bottom: 6rem;
        }

        & .text {
            @media only screen and (min-width: $large-device) {
                margin-right: 5rem;
            }
        }

        @media only screen and (min-width: $medium-device) {
            height: 85%;
        }

        @media only screen and (min-width: $large-device) {
            height: 78vh;
            padding: 0;
        }

        &--bottom {
            @media only screen and (min-width: $medium-device) {
                width: 60%;
            }

            @media only screen and (min-width: $large-device) {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                width: 100%;
                & .text {
                    width: 75%;
                    margin-bottom: 0;
                }

                & .email {
                    width: auto;
                }
            }

            &__left,
            &__right {
                @media only screen and (min-width: $large-device) {
                    width: 50%;
                }
            }

            &__left {
                margin-bottom: 6rem;

                @media only screen and (min-width: $large-device) {
                    margin-bottom: 0;
                }
            }
        }

        & .wrapper {
            @include sbfsc;

            @media only screen and (min-width: $medium-device) {
                height: 100%;
            }

            @media only screen and (min-width: $large-device) {
                justify-content: center;
            }

        }
    }
}

.social {
    background-color: $grey;
    padding: 4rem 0;

    @media only screen and (min-width: $medium-device) {
        padding: 10rem 0;
    }

    & .wrapper {
        @include sbfsc;

        @media only screen and (min-width: $large-device) {
            justify-content: flex-start;
            align-items: center;
            flex-direction: row;
        }
    }

    &__top {
        margin-bottom: 3rem;

        @media only screen and (min-width: $large-device) {
            margin-bottom: 0;
            width: 50%;
        }

    }

    &__bottom {
        display: flex;
        @include sbfsc;

        & .social-link:not(:last-child) {
            margin-bottom: 1.5rem;

            @media only screen and (min-width: $large-device) {
                margin-bottom: 0;
            }
        }

        @media only screen and (min-width: $medium-device) {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: row;
            width: 60%;
        }

        @media only screen and (min-width: $large-device) {
            width: 30%;
        }
    }
}