.hero {
    height: 98vh;
    width: 100%;

    @media only screen and (min-width: $medium-device) {
        height: 66vh;
    }

    @media only screen and (min-width: $large-device) {
        padding-bottom: 0;
        height: 100vh;
    }
}

.home-about {
    padding: 6rem 0;
    background-color: $grey;

    @media only screen and (min-width: $large-device) {
        padding: 7rem 0;
    }

    @media only screen and (min-width: $extra-large-device) {
        padding: 10rem 0;
    }

    & .wrapper {
        @include sbfsc;

    }

    & h2 {
        margin-bottom: 3rem;     

        @media only screen and (min-width: $extra-large-device) {
            width: 80%;
            font-size: 7rem;
            line-height: 7rem;
        }
    }
}

.home__about--bottom {
    @media only screen and (min-width: $large-device) {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 6rem;
    }

    & .text {
        &:nth-of-type(1n) {
            @media only screen and (min-width: $large-device) {
                width: auto;
                margin-right: 5rem;
            }

            @media only screen and (min-width: $extra-large-device) {
                width: auto;
                margin-right: 7.5rem;
            }
        }

        &:nth-of-type(2n) {
            @media only screen and (min-width: $large-device) {
                width: 25rem;
                margin-right: 5rem;
            }

            @media only screen and (min-width: $extra-large-device) {
                width: 35rem;
                margin-right: 7.5rem;
            }
        }
    }
}

.implemented-projects {
    background-color: $white;
    padding: 6rem 0;
    text-align: center;
    display: flex;
    flex-direction: column;

    & .wrapper {
        @include center-center;
    }

    &__container {
        margin-top: 6rem;
        width: 100%;
        max-width: 160rem;
        @media only screen and (min-width: $extra-large-device) {
            width: 80%;
            margin: 6rem auto 0 auto;
        }
    }

    &__item {
        position: relative;
        display: flex;
        padding: 7.5rem 0;
        overflow: hidden;

        .top-line,
        .bottom-line {
            background-color: $dark;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            transform-origin: 100% 0;
            width: .1rem;
        }

        .top-line {
            height: 10rem;
            top: 0%;
        }

        .bottom-line {
            height: calc(100% - 20rem);
            bottom: 0%;
        }

        & .image {
            width: 45%;
            height: 0rem;
            padding-top: 45%;
            position: relative;
            overflow: hidden;

            & img {
                position: absolute;
                top: 0rem;
                right: 0%;
                bottom: 0%;
                left: 0%;
                height: 115%;
                width: 100%;
                object-fit: cover;
                transition: all .5s ease;
            }
        }

        & .text {
            position: absolute;
            top: 13rem;
            left: 0%;
            width: 100%;
        }

        &--1 {
            justify-content: flex-start;
        }

        &--2 {
            justify-content: flex-end;
        }

        &--3 {
            justify-content: flex-start;
        }
    }

    & .cta__container {
        padding: 6rem 0 3rem 0;
    }
}

.home-services {
    background-color: $white;
    padding: 7.5rem 0;

    @media only screen and (min-width: $extra-large-device) {
        padding: 10rem 0;
    }

    & .wrapper {
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
    }
}

.accordion {
    margin: 5rem 0 8rem 0;
    width: 100%;

    &__item {
        border-bottom: .1rem solid $grey-light;
    }

    &__top {
        padding: 3.5rem 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;

        & h3 {
            transition: all .3s ease-in-out;
        }

        &:hover {
            & h3 {
                color: $dark;
            }

            & .plus .horisontal,
            & .plus .vertical {
                background-color: $dark;
            }
        }

        & .plus {
            height: 1rem;
            width: 1rem;
            position: relative;

            & .horisontal {
                height: .2rem;
                width: 100%;
                background-color: $grey-dark;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                transition: all .3s ease-in-out;
            }

            & .vertical {
                height: 100%;
                width: .2rem;
                background-color: $grey-dark;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                transition: all .3s ease-in-out;
            }
        }
    }

    &__bottom {
        max-height: 0;
        overflow: hidden;
        transition: max-height .3s ease-in-out;

        @media only screen and (min-width: $large-device) {
            width: 50%;
        }
    }
}

.instagram {
    padding: 7.5rem 0 3rem 0;
    background-color: $white;

    @media only screen and (min-width: $large-device) {
        padding: 7.5rem 0 7.5rem 0;
    }

    & .wrapper {
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;

        @media only screen and (min-width: $large-device) {
            flex-direction: row;
            align-items: center;
        }
    }

    &__top,
    &__bottom {
        @media only screen and (min-width: $large-device) {
            width: 50%;
            margin-bottom: 0;
        }
    }

    & h2 {
        margin-bottom: 3rem;

        @media only screen and (min-width: $large-device) {
            margin-bottom: 0;
        }
        
    }
}

.questions {
    background-color: $white;

    & .wrapper {
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;

        @media only screen and (min-width: $large-device) {
            flex-direction: row;
            align-items: center;
        }

    }

    &__top {
        padding: 3rem 0;

        @media only screen and (min-width: $medium-device) {
            padding-bottom: 5rem;
        }

        @media only screen and (min-width: $large-device) {
            padding-bottom: 8rem;
        }
    }

    &__bottom {
        background-color: $grey;
        padding: 6rem 0;

        @media only screen and (min-width: $medium-device) {
            padding: 10rem 0;
        }

        & .social-link {
            margin-bottom: 3rem;
        }

        & .wrapper {
            @media only screen and (min-width: $large-device) {
                justify-content: flex-start;
            }
        }

    }

    &__item {
        @media only screen and (min-width: $large-device) {
            width: 50%;

            &--2 {
                @media only screen and (min-width: $large-device) {
                    width: 40%;
                }
            }
        }
    }
}