.hero {
    height: 100%;
    width: 100%;
    // margin-bottom: 12.5rem;
    //padding-bottom: 5rem;
    padding-bottom: 2.5rem;

    @media only screen and (min-width: $medium-device) {
        padding-bottom: 0;
        height: 70%;
    }

    @media only screen and (min-width: $large-device) {
        padding-bottom: 0;
        height: 100vh;
    }
}

.home-about {
    padding: 7.5rem 0;
    background-color: $grey;

    & .wrapper {
        @include sbfsc;

    }
}

.home__about--bottom {
    @media only screen and (min-width: $large-device) {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 6rem;
    }

    & .text {
        &:nth-of-type(1n) {
            @media only screen and (min-width: $large-device) {
                width: auto;
                margin-right: 5rem;
            }
        }

        &:nth-of-type(2n) {
            @media only screen and (min-width: $large-device) {
                width: 25rem;
                margin-right: 5rem;
            }
        }
    }
}

.implemented-projects {
    background-color: $white;
    padding: 7.5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;

    & .wrapper {
        justify-content: center;
        text-align: center;
    }
}

.home-services {
    background-color: $white;
    padding: 7.5rem 0;

    & .wrapper {
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
    }
}

.accordion {
    margin: 5rem 0 8rem 0;
    width: 100%;

    &__item {
        border-bottom: .1rem solid $grey-light;
    }

    &__top {
        padding: 3.5rem 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;

        & h5 {
            transition: all .3s ease-in-out;
        }

        &:hover {
            & h5 {
                color: $dark;
            }

            & .plus .horisontal,
            & .plus .vertical {
                background-color: $dark;
            }
        }

        & .plus {
            height: 1rem;
            width: 1rem;
            position: relative;

            & .horisontal {
                height: .2rem;
                width: 100%;
                background-color: $grey-dark;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                transition: all .3s ease-in-out;
            }

            & .vertical {
                height: 100%;
                width: .2rem;
                background-color: $grey-dark;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                transition: all .3s ease-in-out;
            }
        }
    }

    &__bottom {
        max-height: 0;
        overflow: hidden;
        transition: max-height .3s ease-in-out;

        @media only screen and (min-width: $large-device) {
            width: 50%;
        }
    }
}

.instagram {
    padding: 7.5rem 0;
    background-color: $white;

    & .wrapper {
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;

        @media only screen and (min-width: $large-device) {
            flex-direction: row;
            align-items: center;
        }
    }

    &__top,
    &__bottom {
        @media only screen and (min-width: $large-device) {
            width: 50%;
            margin-bottom: 0;
        }
    }

    & h2 {
        @media only screen and (min-width: $large-device) {
            margin-bottom: 0;
        }
    }
}

.questions {
    background-color: $white;

    & .wrapper {
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;

        @media only screen and (min-width: $large-device) {
            flex-direction: row;
            align-items: center;
        }
    }

    &__top {
        @media only screen and (min-width: $medium-device) {
            padding-bottom: 3.5rem;
        }
    }

    &__bottom {
        background-color: $grey;
        padding: 3.5rem 0;

        & .wrapper {
            @media only screen and (min-width: $large-device) {
                justify-content: flex-start;
            }
        }

        @media only screen and (min-width: $medium-device) {
            padding: 7.5rem 0;
        }
    }

    &__item {
        @media only screen and (min-width: $large-device) {
            width: 50%;

            &--2 {
                @media only screen and (min-width: $large-device) {
                    width: 40%;
                }
            }
        }
    }
}