.projects {
    background-color: $white;
    padding: 10rem 0 2.5rem 0;
    height: 55vh;

    @media only screen and (min-width: $medium-device) {
        padding: 10rem 0 6rem 0;
        height: auto;
    }

    @media only screen and (min-width: $large-device) {
        height: auto;
        padding: 15rem 0 10rem 0;
    }

    @media only screen and (min-width: $extra-large-device) {
        height: auto;
        padding: 20rem 0 10rem 0;
    }

    & .wrapper {
        height: 100%;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
    }

    &__content {
        & h2 {
            margin-bottom: 6rem;
        }

        & .text {
            @media only screen and (min-width: $large-device) {
                width: 50%;
            }
        }
    }
}

.portfolio {
    padding-bottom: 7.5rem;
    background-color: $white;
}