.services {
    padding: 2.5rem 0 7.5rem 0;
    background-color: $white;

    &__intro {
        padding: 10rem 0 5rem 0;
        border-bottom: .1rem solid $grey;
        background-color: $white;

        @media only screen and (min-width: $medium-device) {
            height: 55vh;
        }

        @media only screen and (min-width: $large-device) {
            padding: 15rem 0 10rem 0;
            height: 70vh;
            border-bottom: none;
        }

        & h2 {
            margin-bottom: 6rem;
        }

        & .text {
            width: 100%;

            @media only screen and (min-width: $large-device) {
                width: 45%;
            }
        }


        & .wrapper {
            height: 100%;
            @include sbfsc;

            @media only screen and (min-width: $large-device) {
                justify-content: center;
                align-items: flex-start;
                
            }
        }
    }

    & h4 {
        margin-bottom: 2rem;
    }

    & .subtitle {
        margin-bottom: 6rem;
    }

    & .accordion {
        margin: 5rem 0 0 0;
    }

    &__ul {
        list-style: none;

        & li {
            position: relative;
            padding-left: 3rem;

            &:not(:last-child) {
                margin-bottom: 1.5rem;
            }

            &::before {
                content: '';
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                height: .1rem;
                width: 2rem;
                background-color: $dark;
            }
        }
    }
}